<html>
  <head>
    <title>Cloud Server View</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css"></link>
  </head>
  <body>
    <script>
      function updateOutbreakEvent(status, id, elementId, deviceName) {
        fetch('http://192.168.1.61:5000/outbreaks', {
          method: "PUT",
          body: JSON.stringify({status, id, deviceName}),
          headers: {'Content-Type': 'application/json'}
        }).then(response => {
          if (response.ok) {
            document.getElementById(elementId).disabled = true
            if (status === "triggered") {
              document.getElementById(`status${id}`).innerHTML = "triggered"
            } else if (status === "resolved") {
              document.getElementById(`status${id}`).innerHTML = "resolved"
            }
          }
        })
      }
    </script>
    <h1>Cloud Server</h1>
    <table>
      <tr>
        <th>Device Name</th>
        <th>Temperature</th>
        <th>Light Level</th>
      </tr>
      {% for lineItem in readings %}
        <tr>
          <td>{{lineItem.devicename}}</td>
          <td>{{lineItem.temperature}}</td>
          <td>{{lineItem.lightlevel}}</td>
        </tr>
      {% endfor %}
    </table>
    </br>
    <table>
      <tr>
        <th>Id</th>
        <th>Source</th>
        <th>timestamp</th>
        <th>status</th>
        <th>actions</th>
      </tr>
      {% for lineItem in outbreaks %}
        <tr>
          <td>{{lineItem[0]}}</td>
          <td>{{lineItem[1]}}</td>
          <td>{{lineItem[2]}}</td>
          <td id="status{{lineItem[0]}}">{{lineItem[3]}}</td>
          <td>
            <div class="actions">
              {% if lineItem[3] == "pending" %}
              <button id="globalButton{{lineItem[0]}}" onclick="updateOutbreakEvent('triggered', {{lineItem[0]}}, this.id, '{{lineItem[1]}}')">Global</button>
              {% else %}
              <button disabled>Global</button>
              {% endif %}
              {% if lineItem[3] != "resolved"%}
              <button id = "resolveButton{{lineItem[0]}}" onclick="updateOutbreakEvent('resolved', {{lineItem[0]}}, this.id, '{{lineItem[1]}}')">Resolve</button>
              {% else %}
              <button disabled>Resolve</button>
              {% endif %}
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>